@import './lib/font-awesome.css';
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,600,700,800,900);
@import url('./blocks/section-title.css');
@import url('./blocks/section-1.css');
@import url('./blocks/section-2.css');
@import url('./blocks/section-3.css');
@import url('./blocks/footer.css');
@import url('./blocks/navbar.css');

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

/* Make 1 rem equal to 10 pixels from 16 pixels */
html {
  font-size: 62.5%;
}
